li { margin: 2px 0; cursor: pointer; }
li.selected { outline: 1px solid red; }
li.child { margin-left: 20px; }
.placeholder {line-height: 1.2em; background-color: coral;}

.myHandle {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-color: #000;
  cursor: move;
}