<!--button style="margin-bottom: 20px;" class="btn btn-default" type="submit" ui-sref="add">Add a new contact</button-->
<div class="editorContainer" layout="row" layout-align="space-around start">
	<div class="youtubeListContainer">
		<div class="youtubeContainer" ng-repeat="playlist in playlists">
			<a href="" ng-click="viewDetail(playlist)">
				<div class="youtubeContent">
					<span class="imageContainer"><img ng-src="{{playlist.snippet.thumbnails.medium.url}}"/></span>
					<div class="youtubeTitleDesc">{{playlist.snippet.localized.title}}</div>
				</div>
			</a>
		</div>
	</div>
	<div class="youtubeListContainer" ui-sortable="sortableOptions" ng-model="playlistItems">
		<div class="youtubeContainer" ui-sortable-selectable ng-repeat="playlistItem in playlistItems" ng-click="viewDetailVideo(playlistItem)">
			<div class="youtubeContent">
				<div class="imageContainer">
					<img ng-src="{{playlistItem.snippet.thumbnails.medium.url}}">
				</div>
				<div class="youtubeTitleDesc">{{playlistItem.snippet.title}}</div>
			</div>
		</div>
	</div>
	<div class="youtubeListContainer">
		<div ng-show="selectedItemUniqueKinds.indexOf('youtube#playlistItem')>-1">
			<div ng-show="selectedItems.length==1">
				<iframe ng-if="selectedItems.length==1" width="560" height="315" ng-src="{{selectedItemVideoURL}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div>title</div>
				<input type="text" value="{{selectedItems[0].snippet.title}}">
				<div>description</div>
				<input type="text" value="{{selectedItems[0].snippet.description}}">
			</div>
		</div>
	</div>
</div>